
{% extends 'base.html' %}

{% block navbar %}
    {% if request.user.role == "ADMIN" or request.user.role == "HR" %}
    <ul name="create" style="font-family: poppins, sans-serif; font-size: 0.88rem;">
        <li><a href="{%url 'employees'%}" {% if  request.path == '/employees/' %}class="active"{% endif %}><h3>Employees</h3></a></li>
        <li><a href="{% url 'employee_create'%}" {% if '/employee_create/' in request.path %}class="active"{% endif %}><h3>Create Employee</h3></a></li>
        <li><a href="{% url 'users'%}"{% if '/users/' in request.path %}class="active"{% endif %}><h3>Users</h3></a></li>
        <li><a href="{% url 'user_create'%}"{% if '/user_create/' in request.path %}class="active"{% endif %}><h3>Create User</h3></a></li>
    </ul>
    {% endif %}
{% endblock navbar %}
    
{% block content %}    
<h2>Employees</h2><br><br>

<table id="tb">
    <thead>
        <tr>
            <th>EMP_ID</th>
            <th>EMP_NAME</th>
            <th>POSITION</th>
            <th>DEPARTMENT</th>
            <th>DOB</th>
            <th>PHONE.</th>
            <th>ADDRESS</th>
            <th>GENDER</th>
            <th>EMP_DATE</th>
            {% if user.role == "ADMIN" or user.role == "HR"%}  
            <th colspan="2"> Actions </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for emp in objs %}
        <tr>
            <td><a href= "{% url 'employee_record' emp.empId %}">{{emp.empId}}</a></td>
            <td>{{emp.get_full_name}}</td>
            <td>{{emp.positionName}}</td>
            <td>{{emp.departmentName}}</td>
            <td>{{emp.birthDate}}</td>
            <td>{{emp.phone_number}}</td>
            <td>{{emp.address}}</td>
            <td>{{emp.sex}}</td>
            <td>{{emp.employedDate}}</td>
        {% if user.role == "ADMIN" or user.role == "HR"%}  
        <td>
            <a href= "{% url 'update_record' emp.empId %}">Update</a>
        </td>
        <td>
            <form method="post" action="{% url 'employees' %}">
                {% csrf_token %}
                <button type="submit" name="Delete" value="{{ emp.user }}">Delete</button>
            </form>
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock%}