{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/login.css'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Login</title>
</head>

<body>
  <main>
       
    <section style="margin-top:10%;">
      <header>HRIS</header>
      {%if messages %}
                {%for message in messages%}
                <div class="alert alert-danger" style="font-size:20px;"role="alert">
                  {{message}}.
                </div>
                {% endfor %}
            {% endif %}  
      <form method="post" action="">
        {% csrf_token %}
        <label for='username'>Username</label>
        <input type="text" name="username" id="username" required>
        <label for='password'>Password</label>
        <input type="password" name="password" id="password" required>
        
        <input type="submit" class="submit-btn" value="Sign In">
      </form>
    </section>
  </main>

</body>

</html>