{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
<div class="profile-left-side">
    <div class="main-profile">
        <h2>IDENTITY</h2>
        <div class="card-profile">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table cellspacing="3" >
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td >{{obj.get_full_name}}</td>
                            <td rowspan="6" colspan="2"><img src="{{ obj.profile_picture.url }}" alt="Profile Picture" class="profile_img"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>{{obj.address}}</td>
                        </tr>
                        <tr>
                            <td>Hobbies</td>
                            <td>:</td>
                            <td>{{info.hobbies}}</td>
                        </tr>
                        <tr>
                            <td>Job</td>
                            <td>:</td>
                            <td>Web Developer</td>
                        </tr>
                        <tr>
                            <td>Skill</td>
                            <td>:</td>
                            <td>{{info.skills}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div class="profile-right-side">
</div>
</div>
{% endblock %}
    