
{% extends 'base.html' %}
{% block navbar %}
    {% if request.user.role == "ADMIN" or request.user.role == "HR" %}
    <ul name="create" style="font-family: poppins, sans-serif; font-size: 0.88rem;">
        <li><a href="{%url 'employees'%}" {% if  request.path == '/employees/' %}class="active"{% endif %}><h3>Employees</h3></a></li>
        <li><a href="{% url 'employee_create'%}" {% if '/employee_create/' in request.path %}class="active"{% endif %}><h3>Create Employee</h3></a></li>
        <li><a href="{% url 'users'%}"{% if '/users/' in request.path %}class="active"{% endif %}><h3>Users</h3></a></li>
        <li><a href="{% url 'user_create'%}"{% if '/user_create/' in request.path %}class="active"{% endif %}><h3>Create User</h3></a></li>
    </ul>
    {% endif %}
{% endblock navbar %}
{% block content %}    
<h2>Employees</h2><br><br>

<table id="tb">
    <tr>
        <th>First Name</th>
        <th>role</th>
        <th colspan="2">Actions</th>
    </tr>
{% for employee in objs  %}
    <tr>
        <td>{{employee.username}}</td>
        <td>{{employee.role}}</td>
        <td><a ahref="#Edit"><button>Edit</button></a></td>
        <td><a ahref=""><button>Delete</button></a></td>
    </tr>
{% endfor %}
</table><br><br><br>
<a href="{% url 'user_create' %}"><button>Create</button></a>
{% endblock%}